.form {
    display: flex;
    border-top: 2px solid #D3D3D3;
  }
  
  .input {
    border: none;
    border-bottom-left-radius: 5px;
    padding: 0.8rem;
    width: 80%;
    font-size: 1.2em;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 0.8rem;
    display: inline-block;
    border: none;
    border-bottom-right-radius: 5px;
    width: 20%;
  }